@import "../utils/_vars";
@import "./global.scss";

// club
.club {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	background: url(../images/erotic-legs.png) no-repeat;
    background-size: cover;
    padding: 4rem 0;
}

.club-inner {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $base-white;
	padding: 65px 55px;
	border: 1px solid $base-green;
	outline: 4px solid $base-white;
}

.club-list {
	display: flex;
	width: 100%;
}

.club-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.offer-name.club_offer-name {
	margin-bottom: 5px;
}

.icon.club_icon {
	width: 38px;
	height: 32px;
	margin-bottom: 15px;
}

.italic.club_italic {
	margin-bottom: 20px;
}

.uppercase.club_uppercase {
	margin-top: 20px;
	margin-bottom: 60px;
}